// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --grid-border: #dcdcdc;

  // Background colors (Фонові кольори):
  // =================================================================
  --bg-primary: #f9f8f2; // BG primary background color - (Основний фоновий колір сайту)
  --bg-secondary: #f3f1e6; // BG secondary background color - (Додатковий фоновий колір сайту)

  // Text colors (Текстові кольори):
  // =================================================================
  --text-primary: #000000; // Text primary text color - (Основний текстовий колір сайту)
  --text-secondary: #ffffff; // Text secondary text color - (Додатковий текстовий колір сайту)
  // =================================================================
}
