.products {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
  }

  &__article {
    display: flex;
    flex-direction: column;
  }
}

.products-article {
  &__title {
    @include adaptiveValue("margin-bottom", 44, 24, 0, 1366, 600);
  }

  &__description {
    margin-bottom: toRem(24);
    font-size: toRem(16);
    line-height: math.div(28, 16);
  }

  &__image {
    height: auto;
  }

  &_right {
    @include adaptiveValue("padding-left", 110, 20, 0, 1366, 600);
    @include adaptiveValue("padding-left", 63, 53, 3, 600, 320);

    padding-top: toRem(30);
  }

  &_left &__image {
    aspect-ratio: 683 / 513;

    @include adaptiveValue("padding-right", 100, 53, 3, 600, 320);
  }

  &_right &__image {
    aspect-ratio: 573 / 808;
    @include adaptiveValue("margin-top", 56, 24, 0, 1366, 600);
  }

  &_left &__text-block {
    @include adaptiveValue("padding-left", 112, 16, 0, 1366, 600);
    @include adaptiveValue("margin-top", 30, 20, 0, 1366, 600);
  }

  &_right &__text-block {
    @include adaptiveValue("padding-left", 96, 16, 0, 1366, 600);
    @include adaptiveValue("padding-right", 96, 16, 0, 1366, 600);
  }
}

@media (max-width: $tablet) {
  .products {
    &__container {
      display: flex;
      flex-direction: column-reverse;
      @include adaptiveValue("gap", 56, 72, 0, 600, 320);
    }
  }
}
